{% extends "faq/base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<p>Last updated on: {{ updated_on|date:"M d, Y" }}</p>

<h2>Questions</h2>
<ol>
	{% for question in object_list %}
		{% if question.is_header %}
			<h4>{{ question.text }}</h4><br/>
		{% else %}
			<li><a href="#{{ question.slug }}">{{ question.text }}</a></li>
		{% endif %}
	{% endfor %}
</ol>
<hr/>
<h2>Answers</h2>
<ol>
	{% for question in object_list %}
		{% if question.is_active %}
			<li>
				<h3><a id="{{ question.slug }}">{{ question.text }}</a></h3>
				<p>{% autoescape off %}{{ question.answer }}{% endautoescape %}</p>
			</li>
		{% endif %}
	{% endfor %}
</ol>

<p>Have a question you feel should be answered on the site? <a href="{% url faq_submit %}">Submit it</a>.</p>

{% endblock %}
