{% extends "faq/base.html" %}

{% block title %}{{ block.super }}: Example {% endblock %}

{% block content %}
<p>Last updated on: {{ updated_on|date:"M d, Y" }}</p>
	
<h2>Questions</h2>

<ol>
{% for question in object_list %}

<li>
<a href="#{{ question.slug }}">{% autoescape off %}{{ question.text }}
{% endautoescape %}</a>
</li>

{% endfor %}
</ol>

<hr/>

<h3 style="margin-top: 50px">Answers</h3>

<ol style="margin-bottom: 800px">
{% for question in object_list %}
	<li>
		{% autoescape off %}
		<h3><a id="{{ question.slug }}">{{ question.text }}</a></h3>
		<p>
		{{ question.answer }}
		</p>
		{% endautoescape %}
	</li>
{% endfor %}
</ol>

<p>Have a question you feel should be answered on the site? <a href="{% url faq_submit %}">Submit it</a>.</p>

{% endblock %}
